<div class="light">
    <mat-card>
        <mat-card-content>
            <div class="row">
                <div>{{address}}</div>
                <div *ngIf="state && !state.error; else disconnected">
                    <button mat-button mat-icon-button (click)="openAddress()">
                        <mat-icon>open_in_new</mat-icon>
                    </button>
                </div>
                <ng-template #disconnected>
                    <mat-icon>cancel_outline</mat-icon>
                </ng-template>
            </div>
            <div *ngIf="state && !state.error">
                <mat-form-field>
                    <mat-label>State</mat-label>
                    <mat-select [formControl]="stateCtrl">
                        <mat-option *ngFor="let st of stateNames" [value]="st">
                            {{st}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <form *ngIf="stateCtrl.value !== ''">
                    <button mat-button mat-raised-button (click)="viewState()">
                        View
                    </button>
                    <button mat-button mat-raised-button (click)="saveState()">
                        Save
                    </button>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>