<div class="popup">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon matTooltip="Extension Settings">settings</mat-icon>
      </ng-template>
      <ng-template matTabContent>
        <app-settings></app-settings>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon matTooltip="Light States">lightbulb</mat-icon>
      </ng-template>
      <app-light></app-light>
    </mat-tab>
  </mat-tab-group>
</div>